body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-table tr.odd {
  background-color: aquamarine;
}

.product-table tr.even {
  background-color: lightblue;
}

.app-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: calc(100vh-100px);
}

.app-navigation .app-navigation-menu{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

.app-navigation .app-navigation-menu .app-navigation-item {
  text-decoration: none;
  color: black;
}

.app-navigation .app-navigation-menu .app-navigation-item.selected {
  font-weight: bold;
}

.app-navigation-content {
  flex-basis: calc(100% - 77px);
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.loading-animation {
  display: inline-block;
  padding: 1rem;
}